@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  --primary-color: #211749;
  --secondary-color: #EC426B;
  --tertiary-color: #F46A5F;
}

.App {
  text-align: center;
  background-color: var(--primary-color);
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  display: inline-block;
  max-width: 300px;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"],
.number {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin: 5px;
}

.city {
  width: 250px;
}

.Alert {
  float: left;
  margin: 5px;
  text-align: center;
}

.warning {
  text-align: center;
  margin: 0 auto;
}

.suggestions {
  width: 250px;
  z-index: 2;
  align-self: center;
  margin: 0 auto;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: var(--tertiary-color);
}

.event {
  padding: 25px 25px 35px;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  box-shadow: 5px 5px 8px -6px rgba(0, 0, 0, 0.75);
}

.details-btn:hover {
  opacity: 90%;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.alert {
  max-width: 250px;
  font-size: 11px;
  margin: 0 auto;
}

.number {
  width: 150px;
}

.number-label {
  color: #fff;
}

div#numberInput.input-group {
  text-align: center;
  margin-bottom: 10px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}