
:root {
  --primary-color: #60c4b0;
}

.event {
  display: inline-block;
  padding: 25px;
  width: 90%;
}

p.details.card-text {
  margin-bottom: 20px;
}

.summary {
  font-size: 22px;
  font-weight: bold;
}